body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* 设置背景颜色 */
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* 设置登录框背景颜色 */
    padding: 20px;
    border-radius: 8px; /* 设置边框圆角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 设置阴影 */
    width: 30%; /* 或者直接设置 width 属性，根据实际需要调整 */
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc; /* 设置边框颜色 */
    border-radius: 4px; /* 设置边框圆角 */
}

input[type="submit"] {
    background-color: #4CAF50; /* 设置提交按钮背景颜色 */
    color: white;
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 10px;
}

button {
    float: right; /* 将按钮靠右 */
    background: none; /* 移除背景 */
    border: none; /* 移除边框 */
    color: gray; /* 设置文字颜色为灰色 */
    cursor: pointer; /* 将光标设置为手型 */
}

button:hover {
    text-decoration: underline; /* 悬停时添加下划线效果 */
}